# clangd
compile_commands.json
.cache

# build directories
build
bin
lib

# misc.
scripts
*.sun
vgcore.*
.poc-*
old/

# notes that are too W.I.P to share,
# or that I just want to keep private.
/notes/.priv
